@mixin fs-12-400 {
    font-size: 12px;
    font-weight: 400;
}

@mixin fs-14-400 {
    font-size: 14px;
    font-weight: 400;
}

@mixin fs-24-600 {
    font-size: 28px;
    font-weight: 600;
}

@mixin fs-18-600 {
    font-size: 18px;
    font-weight: 600;
}
@mixin fs-14-500 {
    font-size: 14px;
    font-weight: 500;
}