$bgColor-white: white;
$bgColor-lightGrey: #f5f5f5;
$color-grey: #B0BEC5;
$txt-grey: #B0B0B0;
$txt-black: black;
$cellColor: #E7E6EA;
$cellContact: #E7E5EB;
$table-pl-20: 20px;
$table-pr-20: 20px;
$btnColor-purple: #9873FF;
$modalInput-bottomLine: #E4E2E8;
$bgColor-addContact: #EFEEF2;
$border-addContact: #C8C5D1;
$listContact: #F4F3F6;