@mixin back-img {
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin fs-20-400 {
    font-size: 20px;
    font-weight: 400;
}

@mixin fs-20-700 {
    font-size: 20px;
    font-weight: 700;
}

@mixin fs-40-400 {
    font-size: 40px;
    font-weight: 400;
}

@mixin fs-40-700 {
    font-size: 40px;
    font-weight: 700;
}