@font-face {
  font-family: "Gilroy";
  src: url("../fonts/TTFirsNeue-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/TTFirsNeue-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

body * {
  font-family: "Gilroy", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.reset-btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

textarea {
  resize: none;
}

body {
  background-image: url("../img/back-photo/k_-W0PpfU9A.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  grid-row: 1;
  grid-column: 1;
}

main {
  grid-row: 2;
  grid-column: 1;
}

@media (max-width: 3840px) {
  body {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr;
  }
  .pt-230 {
    padding-top: 230px;
  }
  .p-tb-37 {
    padding-top: 37px;
    padding-bottom: 37px;
  }
  .p-lr-106 {
    padding-left: 106px;
    padding-right: 106px;
  }
  .p-lr-100 {
    padding-left: 100px;
    padding-right: 100px;
  }
  .pl-100 {
    padding-left: 100px;
  }
  .pr-100 {
    padding-right: 100px;
  }
  .hidden-menu {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .hidden-menu .close-menu {
    height: 140px;
    background-color: #111111;
    align-items: center;
  }
  .hidden-menu .nav {
    padding-top: 58px;
    justify-content: space-between;
    background-color: #373737;
    height: calc(100vh - 140px);
  }
  .hidden-menu .nav h3 {
    color: white;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 22px;
  }
  .hidden-menu .nav-panel .nav-item {
    color: white;
    line-height: 200%;
    font-size: 40px;
    font-weight: 700;
  }
  .hidden-menu .nav-extra {
    color: #999999;
    font-size: 20px;
    font-weight: 400;
    line-height: 200%;
  }
  .hidden-menu .nav-next .nav-cases {
    margin-right: 90px;
  }
  header .grid {
    grid-template-columns: 279px repeat(10, 1fr) 279px;
    grid-template-rows: 140px;
  }
  header .grid .menu-icon {
    grid-column: 1/span 3;
    align-self: center;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  header .grid .logo {
    grid-column: 4/span 6;
    justify-self: center;
    align-self: center;
  }
  header .grid .link-enter {
    grid-column: 11;
    font-size: 20px;
    font-weight: 700;
    color: white;
  }
  header .grid .link-services {
    grid-column: 12;
    background: #373737;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding-top: 60px;
    padding-left: 37px;
  }
  header .grid .link-services svg {
    margin-left: 26px;
  }
  main > .grid {
    grid-template-columns: 100%;
    grid-template-rows: minmax(50px, calc(100vh - 804px)) 664px;
  }
  main > .grid .author {
    grid-column: 1/span 5;
    grid-row: 1;
    align-self: flex-end;
    justify-self: end;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    transform: translateX(-360px);
  }
  main > .grid .performance {
    grid-column: 1;
    grid-row: 2;
    justify-content: space-between;
    gap: 20px;
  }
  main > .grid .performance-slogan {
    max-width: calc(100% - 923px);
  }
  main > .grid .performance-slogan .slogan {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 17px;
    color: white;
    transform: translateY(-30px);
  }
  main > .grid .performance-slogan .underslogan {
    font-size: 40px;
    font-weight: 400;
    color: white;
    margin-bottom: 60px;
    transform: translateY(-10px);
  }
  main > .grid .performance-slogan .link-to-know {
    padding: 36px 35px;
    background-color: white;
    max-width: -moz-max-content;
    max-width: max-content;
    font-size: 20px;
    font-weight: 700;
  }
  main > .grid .performance-photos {
    position: relative;
    min-width: 923px;
    height: 100%;
  }
  main > .grid .performance-photos .photos-block:nth-child(1) {
    top: 0px;
    right: 80px;
    z-index: 6;
  }
  main > .grid .performance-photos .photos-block:nth-child(2) {
    top: 40px;
    right: 60px;
    z-index: 5;
  }
  main > .grid .performance-photos .photos-block:nth-child(3) {
    top: 80px;
    right: 40px;
    z-index: 4;
  }
  main > .grid .performance-photos .photos-block:nth-child(4) {
    top: 120px;
    right: 20px;
    z-index: 3;
  }
  main > .grid .performance-photos .photos-block:nth-child(5) {
    top: 160px;
    right: 0px;
    z-index: 2;
  }
  main > .grid .performance-photos .photos-block {
    position: absolute;
    max-width: 843px;
    height: 504px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid white;
    background-color: black;
  }
  main > .grid .performance-photos .photos-block .social-icon {
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
  main > .grid .performance-photos .photos-block .social-icon img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    height: 20px;
  }
  main > .grid .performance-photos .photos-block .social-icon .social-link a:not(:last-child) {
    margin-right: 16px;
  }
  main > .grid .performance-photos .photos-block .photos-wrapper {
    display: grid;
    grid-template-columns: 508px 229px;
    grid-template-rows: repeat(auto-fill, 192px);
    gap: 26px;
  }
  main > .grid .performance-photos .photos-block .photos-wrapper .first {
    grid-column: 1;
    grid-row: 1/span 2;
    z-index: 1;
  }
  main > .grid .performance-photos .photos-block .photos-wrapper .second {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
  }
  main > .grid .performance-photos .photos-block .photos-wrapper .third {
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
  }
}
.photos-block {
  cursor: pointer;
}

.photos-block:hover {
  z-index: 100 !important;
}/*# sourceMappingURL=main.css.map */