@media (max-width: 3840px) {
    body {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 140px 1fr;
    }

    .pt-230 {
        padding-top: 230px;
    }

    .p-tb-37 {
        padding-top: 37px;
        padding-bottom: 37px;
    }

    .p-lr-106 {
        padding-left: 106px;
        padding-right: 106px;
    }

    .p-lr-100 {
        padding-left: 100px;
        padding-right: 100px;
    }

    .pl-100 {
        padding-left: 100px;
    }

    .pr-100 {
        padding-right: 100px;
    }

    .hidden-menu {
        position: absolute;
        width: 100%;
        height: 0;
        overflow: hidden;

        .close-menu {
            height: 140px;
            background-color: $dark;
            align-items: center;
        }

        .nav {
            padding-top: 58px;
            justify-content: space-between;
            background-color: $slateGray;
            height: calc(100vh - 140px);

            h3 {
                color: $white;
                @include fs-40-400;
                margin-bottom: 22px;
            }

            &-panel {
                .nav-item {
                    color: $white;
                    line-height: 200%;
                    @include fs-40-700;
                }
            }

            &-extra {
                color: $grey;
                @include fs-20-400;
                line-height: 200%;
            }

            &-next {
                .nav-cases {
                    margin-right: 90px;
                }
            }
        }

    }

    header {
        .grid {
            grid-template-columns: 279px repeat(10, 1fr) 279px;
            grid-template-rows: 140px;

            .menu-icon {
                grid-column: 1 / span 3;
                align-self: center;
                max-width: max-content;
            }

            .logo {
                grid-column: 4 / span 6;
                justify-self: center;
                align-self: center;
            }

            .link {
                &-enter {
                    grid-column: 11;
                    @include fs-20-700;
                    color: $white;
                }

                &-services {
                    grid-column: 12;
                    background: $slateGray;
                    @include fs-20-700;
                    color: $white;
                    padding-top: 60px;
                    padding-left: 37px;

                    svg {
                        margin-left: 26px;
                    }
                }
            }
        }
    }

    main {
        >.grid {
            grid-template-columns: 100%;
            grid-template-rows: minmax(50px, calc(100vh - 804px)) 664px;

            .author {
                grid-column: 1 / span 5;
                grid-row: 1;
                align-self: flex-end;
                justify-self: end;
                color: $white;
                @include fs-20-400;
                margin-bottom: 20px;
                transform: translateX(-360px);
            }

            .performance {
                grid-column: 1;
                grid-row: 2;
                justify-content: space-between;
                gap: 20px;

                &-slogan {
                    max-width: calc(100% - 923px);

                    .slogan {
                        font-size: 80px;
                        font-weight: 700;
                        margin-bottom: 17px;
                        color: $white;
                        transform: translateY(-30px)
                    }

                    .underslogan {
                        @include fs-40-400;
                        color: $white;
                        margin-bottom: 60px;
                        transform: translateY(-10px)
                    }

                    .link-to-know {
                        padding: 36px 35px;
                        background-color: $white;
                        max-width: max-content;
                        @include fs-20-700;
                    }
                }

                &-photos {
                    position: relative;
                    min-width: 923px;
                    height: 100%;

                    .photos-block {
                        &:nth-child(1) {
                            top: 0px;
                            right: 80px;
                            z-index: 6;
                        }

                        &:nth-child(2) {
                            top: 40px;
                            right: 60px;
                            z-index: 5;
                        }

                        &:nth-child(3) {
                            top: 80px;
                            right: 40px;
                            z-index: 4;
                        }

                        &:nth-child(4) {
                            top: 120px;
                            right: 20px;
                            z-index: 3;
                        }

                        &:nth-child(5) {
                            top: 160px;
                            right: 0px;
                            z-index: 2;
                        }
                    }

                    .photos-block {
                        position: absolute;
                        max-width: 843px;
                        height: 504px;
                        padding-left: $p-lr-container-photos;
                        padding-right: $p-lr-container-photos;
                        border: 1px solid $white;
                        background-color: $black;

                        .social-icon {
                            justify-content: space-between;
                            align-items: center;
                            padding: 12px 0;

                            img {
                                @include back-img;
                                width: 65px;
                                height: 20px;
                            }

                            .social-link {
                                a {
                                    &:not(:last-child) {
                                        margin-right: 16px;
                                    }
                                }
                            }
                        }

                        .photos-wrapper {
                            display: grid;
                            grid-template-columns: 508px 229px;
                            grid-template-rows: repeat(auto-fill, 192px);
                            gap: 26px;

                            .first {
                                grid-column: 1;
                                grid-row: 1 / span 2;
                                z-index: 1;
                            }

                            .second {
                                grid-column: 2;
                                grid-row: 1;
                                z-index: 1;
                            }

                            .third {
                                grid-column: 2;
                                grid-row: 2;
                                z-index: 1;
                            }
                        }

                    }
                }
            }
        }
    }
}

.photos-block {
    cursor: pointer;
}

.photos-block:hover {
    z-index: 100 !important;
}